.Carousel {
    & .container {
      max-width: 100%;
      position: relative;
      height: 250px;
    }
  
    & .prev,
    & .next {
      position: absolute;
      z-index: 2;
      top: 0;
      width: 60px;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      cursor: pointer;
    }
  
    & .prev {
      left: 0;
    }
  
    & .arrow-left {
      height: 20px;
      width: 20px;
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-20%, -50%) rotate(225deg);
      -ms-transform: translate(-20%, -50%) rotate(225deg);
      -o-transform: translate(-20%, -50%) rotate(225deg);
      transform: translate(-20%, -50%) rotate(225deg);
    }
  
    & .next {
      right: 0;
    }
  
    & .arrow-right {
      height: 20px;
      width: 20px;
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-70%, -50%) rotate(45deg);
      -ms-transform: translate(-70%, -50%) rotate(45deg);
      -o-transform: translate(-70%, -50%) rotate(45deg);
      transform: translate(-70%, -50%) rotate(45deg);
    }
  
    & ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      position: relative;
      height: 300px;
      max-width: 100%;
    }
  
    & li {
      min-width: 100%;
      max-width: 1000px;
      height: 300px;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: 0.6s ease-in-out;
    }
  
    & li.visible {
      opacity: 1;
      transition: 0.6s ease-in-out;
    }
  
    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  