.form *{
    border: 1px green solid;
    /* display: block; */
}
/* .navContainer{
    display: flex;
   justify-content: space-between;
   
} */
.darkThemeColor{
    background-color: #334155;
    color:#e5e7eb ;
}
.lightThemeColor{
    background-color: #e5e7eb;
    color: #334155;
}
.mobileNav{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.mobileNavLi a{
    background-color: #334155;
    
    color: #e2e8f0;
    list-style: none;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

/* @media (mix-width: 769px){
    .mobileNav{
        display: none !important;
    }
}

.desktopNav, .desktopNavLi{
    background-color: black;
    color: white;
    display: block !important;
    width: 100%;
    height: auto;
} */


@media (min-width: 768px) {
    .mobile\:hidden {
        display: block !important;
    }
} 
/* 
.desktopNav{
    
} */

.desktopNavLi{
    display: flex;
    justify-content: space-around;
    align-items: center;
} 
.desktopNavLi a{
    color: black;
    flex-grow:1;
}
.desktopNavLi a:hover{ 
    text-decoration: underline;
}
