*{
    color: black;
}


/* .navContainer{
    display: flex;
   justify-content: space-between;
   
} */
.mobileNav{
    width: 100%;
    height: fit-content;
    color: tomato;
    display: flex;
    justify-content: center;
    /* padding: 1rem; */
    
}
.mobileNavLi a{
    background-color: #334155;
    
    list-style: none;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

/* @media (mix-width: 769px){
    .mobileNav{
        display: none !important;
    }
}

.desktopNav, .desktopNavLi{
    background-color: black;
    color: white;
    display: block !important;
    width: 100%;
    height: auto;
} */


@media (min-width: 768px) {
    .mobile\:hidden {
        display: block !important;
    }
} 


.darkThemeColor,
.desktopNavLi a{
    background-color: #334155;
    color:#e5e7eb ;
}
.lightThemeColor,
.desktopNavLi a{
    background-color: #e5e7eb;
    color: #334155;
}

.mobileNav{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.mobileNavLi a{
    background-color: #334155;
    
    color: #e2e8f0;
    list-style: none;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

/* @media (mix-width: 769px){
    .mobileNav{
        display: none !important;
    }
}

.desktopNav, .desktopNavLi{
    background-color: black;
    color: white;
    display: block !important;
    width: 100%;
    height: auto;
} */


@media (min-width: 768px) {
    .mobile\:hidden {
        display: block !important;
    }
} 

/* .desktopNav{
} */

.desktopNavLi{
    display: flex;
    justify-content: space-around;
    align-items: center;
} 
.desktopNavLi a{
    padding: .5rem;   
    
    flex-grow:1;
}
.desktopNavLi a:hover{ 
    text-decoration: underline;
}

.show{
    display:block;
    /* border: solid black 2px; */
    /* height: 14rem; */
    width: fit-content;
    position: fixed;
    top: 1rem;
    right: 3rem;
}

.show button{

    /* text-align:center; */
    /* position: absolute; */
    /* right: .5rem; */
        color: #334155;
}

.dropDownProfile{
    position: absolute;
    top: 4rem;
    right: 1.5rem;
    width: 6rem;
    padding: 15px;
    border: 1px solid gray;
    border-radius: 8px;
}

.dropDownProfile::before{
    content: '';
    position: absolute;
    top: -0.7rem;
    right: 1.1rem;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    border-left: 1px solid gray;
    border-top: 1px solid gray;
}

/* HEADER DROPDOWN PROFILE */
/* .hide-profile{
    cursor: pointer;
}
.hide-profile:hover{
    cursor: pointer;
    text-decoration: underline;
} */

.btn-profile{
    display: flex;
    position: absolute;
    top: .34rem;
    right: 1.2rem;
}

/* update-profile */
.update-profile{
    background-color: #a7a29d;
    color: black;
    font-weight: bold;
    border: #334155 solid 1px;
    /* margin-bottom: 10px; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    padding: 2rem;
}